#main_div, #fleet_main, #truck_page {
    border: none;
    margin: 5% 20% 10% 20%;
    padding: 10px;
    text-align: center;
    background-color: rgb(254, 254, 254);
    border-radius: 5px;
}

form {
    margin: 10px;
    padding: 10%;
}

#main_div > a {
    border: none #ffffff; 
    box-shadow: 2px 2px 2px 2px #c6c8ca; 
    border-radius: 6px;
    padding: 10px;
    margin: 15px 15px 15px 0px;
}

#fleet_search {
    padding: 10px;
    margin: 5px;
    border: solid 1px black;
    border-radius: 5px;
}

.button_toggles > div, h2 {
    display: inline;
}

.button_toggles {
    margin-right: 1px;
}

.button_toggles > .btn-group {
    padding: 0px;
}

.buttonOption1{
    text-align: start;
}

.buttonOption2{
    text-align: end;
}

.fleet_data_item {
    border: solid 1px black;
    padding: 5px 5px 5px 5px;
    margin: 5px;
    text-align: left;
}

.navbar {
    text-align: center;
}

body {
    background-color: #86b959;
}

.map-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

#map {
    height: 400px;
    /* The height is 400 pixels */
    width: 100%;
    /* The width is the width of the web page */
  }
