{% extends "app/layout.html" %}
{% load static %}

{% block body %}
<div id="main_div">

        <br>
        <h2>Driveless Routes</h2>
    
    <hr>

    <div id="map">
    </div>

    <div class="btn-group mt-2" data-toggle="buttons">
        <label class="btn btm-sm btn-secondary">
            <input type="radio" name="options" id="option1"> Glass 
        </label>
        <label class="btn btm-sm btn-secondary">
            <input type="radio" name="options" id="option2"> Paper
        </label>
        <label class="btn btm-sm btn-secondary">
            <input type="radio" name="options" id="option3"> Plastic
        </label>
        <label class="btn btm-sm btn-secondary">
            <input type="radio" name="options" id="option4"> Bio
        </label>
        <label class="btn btm-sm btn-success">
            Set a route >>
        </label>
    </div> 


</div>
{% endblock %}