{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}hackyeah{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'app/styles.css' %}">
    </head>
    <body>

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a href="{% url 'index' %}" class="navbar-brand">Sabre - HackYeah2022</a>

            <div>
              <ul class="navbar-nav mr-auto">

                    <li class="nav-item">
                        <a href="{% url 'fleet' %}" class="nav-link btn btn-link">Fleet</a>
                    </li>
                    <li class="nav-item">
                        <a href="" class="btn btn-link nav-link">Hubs/Containers</a>
                    </li>

              </ul>
            </div>
          </nav>

        <div class="body">
            {% block body %}
            <div id="map"></div>
            {% endblock %}
            <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDWcsYyZTaKRFQM52LpGJkeBZuoeWT2vYM&callback=initMap" defer>
            </script>
            <script src="{% static 'app/create_route.js' %}">
            </script>
        </div>
    </body>
</html>